#section4{
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navigation{
    flex: 0 1 auto;
    position: relative;
    flex-wrap: wrap;
    width: 400px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    cursor: pointer;
}

#section4 img{
    width: 700px;
}

.div_item{
    position: relative;
    background: linear-gradient(120deg,#152874 20%,#344eb7 70%);
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    transition: all .5s;
}

.div_item{
    box-shadow: 4px 4px 8px rgb(133, 133, 133);
}

.div_item p{
    margin: 10px;
    font: lighter 9px caviar dreams;
    transition: all .5s;
}

.div_item h2{
    text-align: center;
    margin: 10px;
    position: relative;
    font: bold 12px heavitas;
    transition: all .5s;

}

.div_item:hover{
    transform: scale(1.2,1.2);
}


.div_item p:hover{
    font: lighter 12px caviar dreams;
}

.div_item h2:hover{
    font: bold 16px heavitas;
}
/*ultima section ----------------------------------------*/
#ultimaSection h2 {
    font: bold 30px heavitas;
    color:#152874
}

#ultimaSection p{
    font:bold 15px caviar dreams;
}


#ultimaSection{
    flex: 0 1 auto;
    box-shadow: inset 0px 0px 8px rgb(109, 108, 108);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    padding: 20px;
    text-align: center;
    height: 550px;
}

.ultimaSectionHeader{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom:20px;
}

#motivo_box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

#motivo_box .motivo{
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgb(150, 150, 150);
    border-radius: 10px;
    color:black;
    text-align: justify;
    width: 400px;
    margin: 40px;
    height: 200px;
    padding: 20px;
    transition: all .6s;
}

#motivo_box .motivo:hover{
    transform: scale(1.1,1.1);
}

.motivo h3{
    text-align: center;
    padding-bottom:20px ;
    font: bold 20px heavitas;
    color: #152874;
}

.motivo p{
    text-align: justify;
    font: bold 15px caviar dreams;
}

.motivo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

